*{
    background-color: black;
    color: white;
}

#body-container{
    width: 80%;
    margin: 0 auto;
}

#inputForm{
    float: right;
}

.deleteBtn{
    border: 3px solid white;
    border-radius: 3px;
    width: 50px
}

h4 {
    font-size: 75px;
    text-align: center;
}

.messages{
    border: 5px solid grey;
    margin: 15px;
}