*{
    background-color: black;
    color: white;
}

#body-container{
    width: 80%;
    margin: 0 auto;
}

#inputForm{
    float: right;
}

.deleteBtn{
    border: 3px solid white;
    border-radius: 3px;
    width: 63px
}

h4 {
    font-size: 75px;
    text-align: center;
}

.message{
    border: 3px solid grey;
    padding: 7px;
    margin: 50px;
}